body{
    background-color: #1b1b1b;
    color: aliceblue;
   
}
ul{
    list-style-type: none;
}

.contact{
    text-align: center;
}

/* .con{
    text-align: center;
} */

.cont{
    text-align: center;
}